@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@font-face {
  font-family: 'Galaxie';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-Book.woff") format("woff"), url("../fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'italicGalaxie';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("../fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg"); }
.login-page {
  width: 300px;
  padding: 100px 0 0;
  /* margin: auto; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form .message {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 16px; }

#vid section {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: #ccc;
  overflow: hidden; }
#vid .background-video-container {
  background-color: transparent; }
#vid .background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Galaxie', Sans-Serif; }
  body .page-wrap {
    height: 100%; }
  body .page-content {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 100%; }
    body .page-content .content {
      margin: 0 auto;
      padding: 0 24px;
      color: black;
      font-family: 'Galaxie', Sans-Serif;
      max-width: 968px; }
      @media (min-width: 480px) {
        body .page-content .content {
          width: 80%;
          padding: 0; } }
    body .page-content p.copyright {
      font-family: 'Helvetica';
      font-size: 10px;
      line-height: 48px;
      color: white; }
      @media (min-width: 480px) {
        body .page-content p.copyright {
          font-size: 12px; } }
