@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@font-face {
  font-family: 'Galaxie';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-Book.woff") format("woff"), url("../fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'italicGalaxie';
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("../fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg"); }
.login-page {
  width: 300px;
  padding: 100px 0 0;
  /* margin: auto; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form .message {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 16px; }

#vid section {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: #ccc;
  overflow: hidden; }
#vid .background-video-container {
  background-color: transparent; }
#vid .background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'HUGEAvantGardeBold', 'Galaxie', Sans-Serif; }
  body header {
    position: relative;
    background: #ec008c;
    height: 60px; }
    @media (min-width: 786px) {
      body header {
        height: 72px; } }
  @media (max-width: 786px) {
    body .desktop-nav {
      display: none; } }
  body .sidebar-mobile-nav {
    position: absolute;
    top: 60px;
    width: 250px;
    padding: 0;
    padding-top: 12px;
    margin: 0;
    background: #fff;
    z-index: 0;
    left: -250px;
    height: auto; }
    @media (min-width: 786px) {
      body .sidebar-mobile-nav {
        display: none; } }
    body .sidebar-mobile-nav > li {
      list-style: none;
      position: relative; }
      body .sidebar-mobile-nav > li > a {
        font-size: 16px;
        font-family: 'HUGEAvantGardeBold';
        text-decoration: none;
        color: black;
        padding: 12px 24px;
        display: block;
        text-decoration: none; }
        body .sidebar-mobile-nav > li > a:hover {
          color: #ec008c;
          background: #eee; }
      body .sidebar-mobile-nav > li.active > ul {
        display: block; }
      body .sidebar-mobile-nav > li.active .drop-arrow {
        transform: rotate(225deg);
        top: 10px; }
      body .sidebar-mobile-nav > li > ul {
        display: none;
        padding: 0;
        max-height: auto; }
        body .sidebar-mobile-nav > li > ul > li > a {
          font-size: 14px;
          color: black;
          padding: 12px 24px;
          font-family: 'Galaxie';
          display: block;
          text-decoration: none; }
          body .sidebar-mobile-nav > li > ul > li > a:hover {
            color: #ec008c;
            background: #eee; }
  body .drop-arrow, body .drop-arrow:after {
    background: #ec008c;
    width: 10px;
    height: 2px;
    position: absolute;
    top: 24px;
    right: 10%;
    transform: rotate(45deg);
    transform-origin: bottom right; }
    @media (min-width: 786px) {
      body .drop-arrow, body .drop-arrow:after {
        display: none; } }
  body .drop-arrow:after {
    content: "";
    transform: rotate(90deg);
    transform-origin: bottom right;
    top: 0;
    right: 2px; }
  body .toggle {
    text-decoration: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  body label:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    background: #ec008c;
    height: 60px;
    width: 200%;
    z-index: 2; }
    @media (min-width: 786px) {
      body label:after {
        display: none; } }
  body .veggie-stack {
    position: absolute;
    width: 24px;
    height: 5px;
    background: #fff;
    top: 25px;
    left: 24px;
    margin: 2.5px 0;
    z-index: 3;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease; }
    @media (min-width: 786px) {
      body .veggie-stack {
        display: none; } }
    body .veggie-stack:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 5px;
      background: #fff;
      top: -8px;
      left: 0px; }
    body .veggie-stack:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 5px;
      background: #fff;
      top: 8px;
      left: 0px;
      opacity: 1; }
  body .desktop-nav {
    margin: 0; }
    @media (min-width: 786px) {
      body .desktop-nav {
        padding-left: 134px; } }
    body .desktop-nav > li {
      display: inline-block;
      list-style: none;
      font-family: 'HUGEAvantGardeBold';
      text-decoration: none;
      cursor: pointer; }
      body .desktop-nav > li:hover > a, body .desktop-nav > li.active > a {
        background: #fff;
        color: #ec008c; }
      body .desktop-nav > li > a {
        display: block;
        font-size: 1em;
        padding: 31px 24px 0 24px;
        list-style: none;
        text-decoration: none;
        color: black;
        height: 72px; }
        @media (min-width: 786px) {
          body .desktop-nav > li > a {
            color: #fff; } }
      body .desktop-nav > li.active > ul {
        display: block; }
      body .desktop-nav > li > ul {
        display: none;
        padding: 12px 0;
        position: absolute;
        background: #fff;
        z-index: 9999;
        top: 72px;
        overflow: hidden;
        max-height: auto; }
        body .desktop-nav > li > ul > li {
          display: block;
          list-style: none;
          margin: 0; }
          body .desktop-nav > li > ul > li > a {
            color: black;
            font-family: 'Galaxie';
            display: block;
            font-size: 14px;
            padding: 12px 24px;
            text-decoration: none; }
            body .desktop-nav > li > ul > li > a:hover {
              color: #ec008c;
              background: #eee; }
  body #toggle-the-sidebar {
    display: none; }
    body #toggle-the-sidebar:checked + .page-wrap .sidebar-mobile-nav {
      left: 0;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease; }
    body #toggle-the-sidebar:checked + .page-wrap .toggle {
      right: 5%;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease; }
    body #toggle-the-sidebar:checked + .page-wrap .page-content {
      left: 250px;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease; }
      @media (min-width: 786px) {
        body #toggle-the-sidebar:checked + .page-wrap .page-content {
          left: 0; } }
    body #toggle-the-sidebar:checked + .page-wrap .mobile-mask {
      display: block; }
      @media (min-width: 786px) {
        body #toggle-the-sidebar:checked + .page-wrap .mobile-mask {
          display: none; } }
    body #toggle-the-sidebar:checked + .page-wrap .huge-logo {
      left: 24px;
      position: fixed;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease; }
    body #toggle-the-sidebar:checked + .page-wrap .veggie-stack {
      transform: rotate(225deg);
      transform-origin: center;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease; }
      body #toggle-the-sidebar:checked + .page-wrap .veggie-stack:before {
        transform: rotate(90deg);
        top: 0; }
      body #toggle-the-sidebar:checked + .page-wrap .veggie-stack:after {
        opacity: 0; }
  body .page-wrap {
    height: 100%; }
    body .page-wrap .huge-logo {
      left: -50%;
      background-image: url(../images/HUGE-white.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: fixed;
      top: 18px;
      height: 24px;
      width: 60px;
      z-index: 3; }
      @media (min-width: 786px) {
        body .page-wrap .huge-logo {
          position: absolute;
          display: inline;
          top: 24px;
          left: 24px; } }
    body .page-wrap .page-content {
      position: relative;
      z-index: 0;
      overflow: hidden;
      height: 100%; }
      body .page-wrap .page-content .mobile-mask {
        display: none;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: absolute; }
      body .page-wrap .page-content .overlay {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: absolute; }
      body .page-wrap .page-content .office-bg {
        background-image: url(../images/background-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 240px; }
        @media (min-width: 786px) {
          body .page-wrap .page-content .office-bg {
            height: 640px; } }
      @media (max-width: 786px) {
        body .page-wrap .page-content .desktop-h1 {
          display: none; } }
      @media (min-width: 786px) {
        body .page-wrap .page-content .desktop-h1 {
          position: absolute;
          max-width: 850px;
          top: 45%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin: 0;
          font: 120px/1 HUGEAvantGardeBold;
          letter-spacing: -0.06em;
          text-align: center; } }
      body .page-wrap .page-content .content {
        margin: 0 auto;
        padding: 0 24px;
        color: black;
        font-family: 'Galaxie', Sans-Serif;
        max-width: 968px; }
        @media (min-width: 786px) {
          body .page-wrap .page-content .content {
            width: 80%;
            padding: 0; } }
        body .page-wrap .page-content .content .mobile-h1 {
          font-family: "HUGEAvantGardeBold";
          font-size: 36px;
          padding-top: 50px;
          margin: 0; }
          @media (min-width: 786px) {
            body .page-wrap .page-content .content .mobile-h1 {
              display: none; } }
        body .page-wrap .page-content .content p {
          margin: 0;
          padding: 50px 0;
          text-align: justify;
          font-size: 12px;
          line-height: 20px; }
          @media (min-width: 786px) {
            body .page-wrap .page-content .content p {
              font-size: 18px;
              line-height: 26px; } }
      body .page-wrap .page-content p.copyright {
        font-family: 'Helvetica';
        font-size: 10px;
        line-height: 48px;
        color: white; }
        @media (min-width: 786px) {
          body .page-wrap .page-content p.copyright {
            font-size: 12px; } }
